/**
!/static/
!/static/*.mjs
!/static/*.css
!/.editorconfig
!/.gitignore
!/go.mod
!/go.sum
!/LICENSE
!/README.md
!/caddy.conf.js
!/main.go
!/main.templ
!/main_templ.go
!/mediamtx.yaml
!/rtmp_to_hls.sh
