[Unit]
Description=dnsmasq - A lightweight DHCP and caching DNS server for flipcam
Documentation=man:dnsmasq(8)
After=network.target
Before=network-online.target nss-lookup.target
Wants=nss-lookup.target
Conflicts=dnsmasq.service

[Service]
Type=exec
ExecStartPre=/usr/bin/dnsmasq --test --conf-file={{ dnsmasq_conf_file_path }}
ExecStart=/usr/bin/dnsmasq -k --user=dnsmasq --conf-file={{ dnsmasq_conf_file_path }} --pid-file
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
PrivateDevices=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
